@CHARSET "UTF-8";

section {
	margin: 20px 0 0 20px;
}

h3 {
	font-family: Palatino, serif;
	font-variant: small-caps;
	font-weight: bold;
	font-size: 18px;
}

p {
	font-family: Helvetica, serif;
	font-weight: normal;
	font-size: 15px;
}

button {
	height: 80px;
	width: 80px;
	font-family: 'Orbitron', arial, serif;
	font-weight: bold;
	font-size: 40px;
	color: black;
}

.bordered {
	border-radius: 5px;
	border: 1px solid #AAA;
	padding: 0 7px;
}

div.traffic-light {
	height: 80px;
	width: 80px;
	border-radius: 5px;
	padding: 0 7px;
}

.red {
	color: red;
	font-weight: bold;
}

.green {
	color: green;
	font-weight: bold;
}

div.red {
	background-color: red;
}

div.green {
	background-color: green;
}