@CHARSET "UTF-8";
body, h1, h2, h3, h4, h5, h6, p, ul, dl, ol, form, fieldset, input, label, table, tbody, tfoot, th, tr, td, textarea, select {
	font-family: "helvetica neue", helvetica, "lucinda sans unicode", "sans serif";
	font-weight: normal;
	color: #333;
	padding: 0;
	border: 0;
	margin: 0;
	font-size: 12px;
}

section {
	margin:20px 0 0 20px;
}

header {
	width:100%;
	/*height:80px;*/
	color: #333;
	font-weight: bold;
	font-size: 12px;
	text-align:center;
	margin-top:30px;
	margin-bottom:30px;
	/*line-height: 80px;*/
}

footer {
	width:100%;
	/*height:80px;*/
	font-size: 12px;
	text-align:center;
	/*line-height: 80px;*/
	margin-top:30px;
	margin-bottom:30px;
}

td {
	vertical-align: top;
}


td.cardCell {
	width: 10%;
	height: 10%;
}

.padded {
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}

table.cardTable {
	table-layout: fixed;
}

p.tableHeader {
	font-family: 'Orbitron', arial, serif;
	font-weight: bold;
	font-size: 20px;
	color: black;
}

p.tableHeader2 {
	font-family: 'Orbitron', arial, serif;
	font-weight: bold;
	font-size: 15px;
	color: black;
}

p.gameParamName {
	font-weight: bold;
}

td.tableHeader {
	text-align:center;
	border-bottom: 1px solid #ccc;
}

.error {
	font-family: 'Orbitron', arial, serif;
	font-weight: bold;
	font-size: 13px;
	color: red;
}

.success {
	font-family: 'Orbitron', arial, serif;
	font-weight: bold;
	font-size: 13px;
	color: green;
}

.clock {
	font-family: 'Orbitron', arial, serif;
	font-weight: bold;
	font-size: 13px;
	color: orange;
}

.btn {
	font-family: 'Orbitron', arial, serif;
	font-weight: bold;
	color: black;
}

img.avatar {
	width: 50px;
	height: 50px;
}

.card {
	-webkit-perspective: 600;
	perspective: 600;
	width: 100px;
	height: 100px;
	/*position: absolute;*/
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	transition: all .3s;
	transform-style: preserve-3d;
}

.face {
	border-radius: 10px;
	width: 100%;
	height: 100%;
	position: absolute;
	-webkit-transition-property: opacity, transform, box-shadow;
	-webkit-transition-duration: .3s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.front {
	background: #999 url(../pic/back1_100_100.png);
	z-index: 10;
}
.back {
	background: #efefef;
	-webkit-transform: rotate3d(0,1,0,-180deg);
	transform: rotate3d(0,1,0,-180deg);
	z-index: 8;
}
/*
.front .card-flipped {
	-webkit-transform: rotate3d(0,1,0,180deg);
	z-index: 8;
}
.back .card-flipped {
	-webkit-transform: rotate3d(0,1,0,0deg);
	z-index: 10;
}
*/
.card-flipped-front {
	background: #999 url(../pic/back1_100_100.png);
	-webkit-transform: rotate3d(0,1,0,180deg);
	transform: rotate3d(0,1,0,180deg);
	z-index: 8;
}
.card-flipped-back {
	background: #efefef;
	-webkit-transform: rotate3d(0,1,0,0deg);
	transform: rotate3d(0,1,0,0deg);
	z-index: 10;
	font-family: 'Orbitron', arial, serif;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
}

.showPicDv {
	width: 100px;
	height: 100px;
}

.center {
	text-align:center;
}

.turninfo {
	text-align:center;
}

span.blue {
	color: blue;
}

span.black {
	color: black;
}

span.red {
	color: red;
}

.showPic {
	height: 100%;
	width: 100%;
	object-fit: contain;
}

span.picArtist{
	font-weight: normal;
	font-size: 12px;
}
span.picCaption{
	font-weight: bold;
	font-size: 12px;
}
span.picCreationDate{
	font-weight: normal;
	font-style: italic;
	font-size: 12px;	
}
span.picOtherInfo{
	font-weight: normal;
	font-size: 12px;	
}

td.chosen{
	background-color: yellow;
	box-shadow: 0 0 5px 1px orange;
}

input{
	border-radius: 3px;
	border: 1px solid #AAA;
	padding: 0 7px;
}

input:invalid{
	box-shadow: 0 0 5px 1px red;
}

input:valid{
	border: 2px solid grey;
}

.hide{
	display: none;
}

.hideCard {
	opacity: 0;
}

.enableFlip:hover{
	box-shadow: 0 0 5px 1px orange;
}

.active{
	border: 5px solid green;
}

#scResults {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%)
}
